@model PlataformaNetworking.Models.ViewModels.HomeViewModel
@{
    ViewData["Title"] = "Perfil";
    string usuario = Model.Usuario.Nome + " " + Model.Usuario.Sobrenome;
    string curso = Model.Usuario.Curso;
    string email = Model.Usuario.Email;
    string nascimento = Model.Usuario.DataNascimento.ToString("MM/dd/yyyy");
    string imagemPerfil = Model.Usuario.ProfilePictureUrl == null ? "~/images/avatar2.png" : Model.Usuario.ProfilePictureUrl;
}

<h2>Perfil</h2>

<div class="col-md-3">
    <div class="card">
        @await Component.InvokeAsync("Painel")
    </div>
</div>

<div class="w3-card w3-round w3-white col-lg-6" style="padding: 20px;">
    <div class="w3-container">
        <div class="w3-content"><h3><b>@usuario</b></h3></div>
        <p class="w3-center">
            <div class=" containerPerfil" id="triggerUploadClick">
                <img src="@imagemPerfil" class="w3-circle imagemPerfil" alt="Avatar" id="imagemPerfilAlterar">
                <div class="overlay">
                    <a href="#" class="icon" title="User Profile">
                        <i class="fa fa-camera"></i>
                    </a>
                </div>
                <input type="file" name="uploadFotoPerfil" class="d-none" accept="image/png, image/jpeg" id="campoUploadImagem" />
            </div>
        </p>
        <div class="formAlterarImagemUsuario d-none">
            <form method="post" id="formAlterarImagem">
                <input name="ProfilePictureUrl" id="campoInputNovaImagem" type="text" value="@Model.Usuario.ProfilePictureUrl" />
            </form>
        </div>
        <hr>
        <p>
            <i class="fa fa-pencil fa-fw w3-margin-right w3-text-theme"></i>Estudante de @curso
        </p>

        <p>
            <i class="fa fa-envelope fa-fw w3-margin-right w3-text-theme">Email: @email</i>
        </p>
        <p>
            <i class="fa fa-birthday-cake fa-fw w3-margin-right w3-text-theme">Data de nascimento: @nascimento </i>
        </p>
        <p>

            @{
                if (Model.Usuario.GetType().Name == "Aluno")
                {
                    @await Component.InvokeAsync("Curriculo", new { id = Model.Usuario.Id });
                }
            }

        </p>

    </div><br />
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Editar</button><br />
    @{
        if (Model.Usuario.GetType().Name == "Aluno")
        {
            <button class="btn btn-primary" data-toggle="modal" data-target="#addCurriculo">Adicionar Curriculo</button><br />
        }
    }


<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            @using (Html.BeginForm("Edit", "Usuarios"))
            {
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Editar Usuário</h4>
                    <button type="button" class="close" data-dismiss="modal">×</button>
                </div>

                @Html.AntiForgeryToken()
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="form-horizontal">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Usuario.Id)

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usuario.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario.Nome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usuario.Nome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usuario.Sobrenome, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario.Sobrenome, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usuario.Sobrenome, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usuario.Curso, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario.Curso, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usuario.Curso, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usuario.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario.Email, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usuario.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Usuario.DataNascimento, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Usuario.DataNascimento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Usuario.DataNascimento, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <input type="submit" value="Salvar" class="btn btn-primary" />
                        <input type="button" value="Cancelar" class="btn btn-danger" data-dismiss="modal" />

                    </div>

                </div>
            }
        </div>
    </div>
</div>

<div class="modal fade" id="addCurriculo">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Editar Usuário</h4>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="form-horizontal">
                    <form method="post" enctype="multipart/form-data" asp-action="UploadCurriculo" asp-controller="Aluno">
                        <input type="file" name="arquivo" required />
                        <button class="btn btn-success" type="submit" asp-action="UploadCurriculo" asp-controller="Aluno">Salvar</button>
                    </form>
                </div>

                <!-- Modal footer -->


            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/uploadImagem.js"></script>
    <script>
        function SolicitaAmizade() {
            $('body').on('submit', '#formAmizade', function (evt) {
                evt.preventDefault();
                $.ajax({
                    url: '/Usuarios/SolicitaAmizade',
                    type: 'post',
                    data: $('#formAmizade').serialize(),
                    success: function () {
                        document.location.reload();
                    }
                });
            });
        }
    </script>
}
    </div>
