@model PlataformaNetworking.Models.Usuario
@{
    ViewData["Title"] = "Plataforma Networking";
    //string uploadimagem = Model.UploadPictureUrl == null ? "~/images/avatar3.png" : Model.UploadPictureUrl;
}


<!-- Page Container -->
    <div class="container-fluid gedf-wrapper mt-3">
        <div class="row">
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">

                        <p class="w3-center">
                            <div class=" containerPerfil" id="triggerUploadClick">
                                <img src="@(Model.ProfilePictureUrl == null ? "~/images/avatar2.png" : Model.ProfilePictureUrl)" class="rounded-circle imagemPerfil" alt="Avatar" id="imagemPerfilAlterar">
                                <div class="overlay">
                                    <a href="#" class="icon" title="User Profile">
                                        <i class="fa fa-camera"></i>
                                    </a>
                                </div>
                                <input type="file" name="uploadFotoPerfil" class="d-none" accept="image/png, image/jpeg" id="campoUploadImagem" />
                            </div>
                        </p>
                        <div class="formAlterarImagemUsuario d-none">
                            <form method="post" id="formAlterarImagem">
                                <input name="ProfilePictureUrl" id="campoInputNovaImagem" type="text" value="@Model.ProfilePictureUrl" />
                            </form>
                        </div>
                        <div class="h5">@Model.Nome @Model.Sobrenome</div>
                        <div class="h7 text-muted">@Model.GetType().Name</div>
                    </div>
                    @await Component.InvokeAsync("Painel")
                </div>
            </div>
            <div class="col-md-6 gedf-main">

                <!--- \\\\\\\Post-->
                <div class="card gedf-card">
                    <div class="card-body">
                        <div class="tab-content" id="myTabContent">
                            
                                <div class="form-group">
                                    <form method="post" id="formNewPostagem">
                                        <label class="sr-only" for="message">post</label>
                                        <textarea class="form-control" name="TextoPost" id="TextoFormulario" rows="3" placeholder="Escreva sua publicação"></textarea>
                                        <input type="hidden" name="Imagem" id="ImagemPost" />


                                        <div class="file-upload">
                                            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Adicionar imagem</button>

                                            <div class="image-upload-wrap">
                                                <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/png, image/jpeg" />
                                                <div class="drag-text">
                                                    <h3>Arraste sua imagem até aqui para adiciona-la</h3>
                                                </div>
                                            </div>
                                            <div class="file-upload-content">
                                                <img class="file-upload-image w-100" src="#" alt="your image" />
                                            </div>
                                        </div>

                                        <div class="btn-toolbar justify-content-between">
                                            <div class="btn-group">
                                                <button type="submit" class="btn btn-primary">Publicar</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>   
                        </div>

                    </div>
                </div>

                <!--Publicações-->
                
                @await Component.InvokeAsync("Post")

            </div>
            <div class="col-md-3 justify-content">
                <!--Pedido de Amizade-->
                @await Component.InvokeAsync("PedidoAmizade")
            </div>
        </div>
    </div>


@section Scripts{
    <script src="~/js/uploadImagem.js"></script>
}