@model IEnumerable<PlataformaNetworking.Models.ViewModels.HomePostViewModel>

@{
    ViewData["Title"] = "View";
}


@foreach (var item in Model.Reverse())
{

    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-3">
                        <img class="rounded-circle" width="50" id="FotoPerfil-@item.Post.Id" src="@item.Usuario.ProfilePictureUrl" alt="">
                    </div>
                    <div class="ml-2">
                        <a class="h5 m-0" href="Usuarios/Perfil/@item.Usuario.Id">@item.Usuario.Nome @item.Usuario.Sobrenome</a>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                            <div class="h6 dropdown-header">Configuration</div>
                            <a class="dropdown-item" href="#">Save</a>
                            <a class="dropdown-item" href="#">Hide</a>
                            <a class="dropdown-item" href="#">Report</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>@item.Post.PostTime.ToString("dd/MM/yyyy HH:mm")</div>
            <p class="card-text">
                @item.Post.TextoPost
            </p>
            <img src="@item.Post.Imagem" style="width:100%" alt="Post Image" class="w3-margin-bottom">

        </div>
        <div class="card-footer">
            <span class="card-link" id="curtir-@item.Post.Id" style="cursor: pointer;" onclick="Like(@item.Post.Id)">Curtir</span>
            <span class="card-link" id="descurtir-@item.Post.Id" style="cursor: pointer; display: none" onclick="Dislike(@item.Post.Id)">Descurtir</span>
            <span class="card-link" id="comentar-@item.Post.Id" onclick="Comentar(@item.Post.Id)" style="cursor: pointer"><i class="fa fa-comment"></i> Comentar</span>
            <span class="card-link" style="cursor: pointer;">Compartilhar</span>
            <div class="row mt-2">
                <form method="post" id="formComentario-@item.Post.Id" style="display:none">
                    <input type="hidden" id="IdPost" name="IdPost" value="@item.Post.Id" />
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="CommentText" id="CommentText" />
                    </div>
                    <div class="col-md-3">
                        <button onclick="FormComentario(@item.Post.Id)" type="submit" class="btn btn-primary">Comentar</button>
                    </div>
                </form>
            </div>

            <p>
                <span class="glyphicon glyphicon-thumbs-up card-link"></span> @item.Post.Like
                <span class="glyphicon glyphicon-comment card-link" onclick="MostrarComentarios(@item.Post.Id)" id="mostrarComentarios" style="cursor: pointer"></span> @item.Post.Comentarios
                <span class="glyphicon glyphicon-share card-link"></span> 0
            </p>

            <div id="comentarios-@item.Post.Id" style="display: none">
                @await Component.InvokeAsync("Comentario", item.Post.Id)
            </div>
        </div>
    </div>

    <script>
        VerificaLike(@item.Post.Id);

        async function VerificaLike(idPost) {

            $.ajax({
                datatype: 'json',
                contentType: 'application/json',
                type: "GET",
                url: "/Publicacoes/VerificaLike?idPost=" + idPost,
                /*data: {
                    idPost: idPost;
                },*/
                success: function (like) {
                    if (like) {
                        $('#curtir-' + idPost).hide();
                        $('#descurtir-' + idPost).show();
                    }
                }
            })
        }



    </script>

}

<script>
    async function Like(idPost) {
        var parametros = {
            IdPost: idPost
        };

        $.ajax({
            datatype: 'json',
            contentType: "application/json",
            type: "POST",
            url: "/Publicacoes/Like",
            data: JSON.stringify(parametros),
            async: true,
            success: function (data) {
                document.location.reload();
            }
        });
    }

    async function Dislike(idPost) {
        var parametros = {
            IdPost: idPost
        };

        $.ajax({
            datatype: 'json',
            contentType: "application/json",
            type: "POST",
            url: "/Publicacoes/Dislike",
            data: JSON.stringify(parametros),
            async: true,
            success: function (data) {
                document.location.reload();
            }
        });
    }



    function FormComentario(id) {
        $('body').on('submit', '#formComentario-' + id, function (evt) {
            evt.preventDefault();
            $.ajax({
                url: '/Publicacoes/Comentario',
                type: 'post',
                data: $('#formComentario-' + id).serialize(),
                success: function () {
                    document.location.reload();
                }
            });
        });
    }


    function Comentar(id) {
        $("#formComentario-" + id).toggle();
    }

    function MostrarComentarios(id) {
        $("#comentarios-" + id).toggle();
    }

    /* $("#comentar").click(function () {
         $("#formComentario").toggle();
     });

     $("#mostrarComentarios").click(function () {
         $("#comentarios").toggle();
     });*/


</script>
