@model IEnumerable<PlataformaNetworking.Models.PostModel>

@{
    ViewData["Title"] = "View";
}


@foreach (var item in Model.Reverse())
{

    <div class="card gedf-card">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="mr-3">
                        <img class="rounded-circle" width="50" src="@(item.FotoUsuario  == null ? "~/images/avatar2.png" : item.FotoUsuario)" alt="">
                    </div>
                    <div class="ml-2">
                        <div class="h5 m-0">@item.NomeUsuario</div>
                    </div>
                </div>
                <div>
                    <div class="dropdown">
                        <button class="btn btn-link dropdown-toggle" type="button" id="gedf-drop1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-ellipsis-h"></i>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="gedf-drop1">
                            <div class="h6 dropdown-header">Configuration</div>
                            <a class="dropdown-item" href="#">Save</a>
                            <a class="dropdown-item" href="#">Hide</a>
                            <a class="dropdown-item" href="#">Report</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-body">
            <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>@item.PostTime.ToString("dd/MM/yyyy HH:mm")</div>
            <p class="card-text">
                @item.TextoPost
            </p>
            <img src="@item.Imagem" style="width:100%" alt="Post Image" class="w3-margin-bottom">

        </div>
        <div class="card-footer">
            <span class="card-link" id="curtir" style="cursor: pointer;" onclick="Like(@item.Id)">Curtir</span>
            <span class="card-link" id="descurtir" style="cursor: pointer; display: none" onclick="Dislike(@item.Id)">Descurtir</span>
            <span class="card-link" id="comentar" onclick="Comentar(@item.Id)" style="cursor: pointer"><i class="fa fa-comment"></i> Comentar</span>
            <span class="card-link" style="cursor: pointer;">Compartilhar</span>
            <div class="row mt-2">
                <form method="post" id="formComentario-@item.Id" style="display:none">
                    <input type="hidden" id="IdPost" name="IdPost" value="@item.Id" />
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="CommentText" id="CommentText" />
                    </div>
                    <div class="col-md-3">
                        <button onclick="FormComentario(@item.Id)" type="submit" class="btn btn-primary">Comentar</button>
                    </div>
                </form>
            </div>

            <p>
                <span class="glyphicon glyphicon-thumbs-up card-link"></span> @item.Like
                <span class="glyphicon glyphicon-comment card-link" onclick="MostrarComentarios(@item.Id)" id="mostrarComentarios" style="cursor: pointer"></span> @item.Comentarios
                <span class="glyphicon glyphicon-share card-link"></span> 0
            </p>

            <div id="comentarios-@item.Id" style="display: none">
                @await Component.InvokeAsync("Comentario", item.Id)
            </div>
        </div>
    </div>

    <script>
        VerificaLike(@item.Id);

        async function VerificaLike(idPost) {

            $.ajax({
                datatype: 'json',
                contentType: 'application/json',
                type: "GET",
                url: "/Publicacoes/VerificaLike?idPost=" + idPost,
                /*data: {
                    idPost: idPost;
                },*/
                success: function (like) {
                    if (like) {
                        $('#curtir').hide();
                        $('#descurtir').show();
                    }
                }
            })
        }

    </script>
    
}

<script>
    async function Like(idPost) {
        var parametros = {
            IdPost: idPost
        };

        $.ajax({
            datatype: 'json',
            contentType: "application/json",
            type: "POST",
            url: "/Publicacoes/Like",
            data: JSON.stringify(parametros),
            async: true,
            success: function (data) {
                document.location.reload();
            }
        });
    }

    async function Dislike(idPost) {
        var parametros = {
            IdPost: idPost
        };

        $.ajax({
            datatype: 'json',
            contentType: "application/json",
            type: "POST",
            url: "/Publicacoes/Dislike",
            data: JSON.stringify(parametros),
            async: true,
            success: function (data) {
                document.location.reload();
            }
        });
    }

    

    function FormComentario(id) {
        $('body').on('submit', '#formComentario-' + id, function (evt) {
            evt.preventDefault();
            $.ajax({
                url: '/Publicacoes/Comentario',
                type: 'post',
                data: $('#formComentario-' + id).serialize(),
                success: function () {
                    document.location.reload();
                }
            });
        });
    }
    

    function Comentar(id) {
            $("#formComentario-" + id).toggle();
    }

    function MostrarComentarios(id) {
        $("#comentarios-" + id).toggle();
    }

   /* $("#comentar").click(function () {
        $("#formComentario").toggle();
    });

    $("#mostrarComentarios").click(function () {
        $("#comentarios").toggle();
    });*/


</script>
